<!DOCTYPE html>
<html lang="{{ .Lang | default "en" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}</title>
  <meta name="description" content="{{ .Site.Params.description }}">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}img/track-view.png">
  {{ $css := resources.Get "css/main.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $css.RelPermalink }}">
  <script defer src="https://analytics.lazyafternoon.site/script.js" data-website-id="ac590579-91d5-4e7a-bd67-0b5ace84a1e9"></script>
</head>
<body>
  {{ block "main" . }}{{ end }}
</body>
</html>
